* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fa-compact-disc {
    color: #0ef0e4;
    font-size: 40px;
}
.header {
    background-color: rgb(6, 33, 85);
    position: fixed;
    z-index: 1;
}

.head {
    background-color: rgb(6, 33, 85);
    color: white;
    border-bottom: 3px solid rgb(16, 198, 204);
}

.navbar {
    background-color: rgb(6, 33, 85);
}
.list li {
    padding: 0 10px;
}
.col-3,
.col-6 {
    padding: 8px 0;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 50s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.content{
    height: auto;
    padding-top: 140px;
}
.mus{
    border-bottom: 1px solid rgb(83, 81, 79);
    padding: 20px 0;
}
.linha a{
    text-decoration: none;
    color: white;
}
span{
    color: rgb(82, 83, 85);
    font-size: 14px;
}
h6{
    padding: 10px 0;
}
.linha:hover .img-fluid{
    opacity: 0.7;
}
.bxh{
    padding: 20px 0;
}
.bh1 li{
    list-style-type: none;
    border-bottom: 1px solid #23a6d5;
    padding: 10px 0;
    
}
.bh1 li a{
    text-decoration: none;
    color: white;
}
.tacgia{
   padding-left: 10px;
}
#cs{
    font-size: 12px;
    color: bisque;
}
.bh1 li:hover a{
    color: #0ccac1;
}
.musi{
    border-bottom: 2px solid rgb(68, 162, 216);
}
.tl{
    border-bottom: 2px solid #0ef0e4;
}